body, html {
  width: 100%;
  height: 100%;
  overflow-y: auto; }

* {
  margin: 0;
  padding: 0; }

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

input, textarea {
  outline: medium; }

.list_box {
  margin: 0;
  padding: 0;
  list-style: none;
  position: fixed;
  right: 15px;
  bottom: 0px; }
  .list_box > li {
    width: 41px;
    height: 41px;
    margin-bottom: 8px;
    border-radius: 50%; }
  .list_box > li:nth-child(6) {
    animation: bounceInDown 0.4s; }
  .list_box > li:nth-child(5) {
    animation: bounceInDown 0.6s; }
  .list_box > li:nth-child(4) {
    animation: bounceInDown 0.8s; }
  .list_box > li:nth-child(3) {
    animation: bounceInDown 1s; }
  .list_box > li:nth-child(2) {
    animation: bounceInDown 1.2s; }
  .list_box > li:nth-child(1) {
    animation: bounceInDown 1.4s; }

.list_model {
  width: 100%;
  height: 100%;
  position: fixed;
  perspective: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 20% 0;
  background: rgba(0, 0, 0, 0);
  animation: bounceInDown 1s;
  display: block; }
  .list_model .model_box {
    width: 100%;
    position: relative;
    transition: 1.5s;
    transform-style: preserve-3d; }
  .list_model .model_box > div:nth-child(1) {
    background: #fff; }
  .list_model .listModel_box {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    background: #fff;
    border-radius: 5px;
    padding: 15px 15px 5px; }
    .list_model .listModel_box > h1 {
      font-size: 16px;
      font-weight: 700;
      color: #d38100;
      margin: auto;
      padding-bottom: 10px;
      text-align: center;
      border-bottom: 1px solid #c9c9c9; }
    .list_model .listModel_box .model_tel {
      position: relative; }
      .list_model .listModel_box .model_tel > p {
        font-size: 12px;
        color: #989898;
        padding: 10px 0; }
      .list_model .listModel_box .model_tel .p {
        font-size: 14px;
        color: #000000;
        font-weight: bold; }
      .list_model .listModel_box .model_tel > i {
        position: absolute;
        right: 10px;
        top: 8px;
        font-size: 17px;
        color: #989898;
        display: none; }
      .list_model .listModel_box .model_tel .tel_value {
        display: none; }
      .list_model .listModel_box .model_tel > button {
        width: 100%;
        background: #efa141;
        color: #fff;
        border: none;
        padding: 10px 0;
        border-radius: 5px;
        font-weight: 600; }
    .list_model .listModel_box .model_middle {
      width: 100%;
      text-align: center;
      background: #fff;
      line-height: 0px; }
      .list_model .listModel_box .model_middle > ol {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        background: #fff; }
        .list_model .listModel_box .model_middle > ol > li {
          width: 30%;
          height: 30%;
          text-align: center;
          line-height: 25px;
          border: 1px solid #c2c5c5;
          margin-bottom: 10px;
          border-radius: 8px; }
    .list_model .listModel_box .model_bottom {
      width: 100%; }
      .list_model .listModel_box .model_bottom button {
        width: 100%;
        border: none;
        padding: 8px 0;
        text-align: center;
        color: #fff;
        font-weight: 600;
        background: #efac41;
        border-radius: 5px;
        margin-bottom: 15px; }
    .list_model .listModel_box .model_flip {
      width: 100%;
      display: flex;
      padding: 10px  30%;
      justify-content: space-between;
      align-items: center; }
      .list_model .listModel_box .model_flip a {
        width: 30px;
        height: 30px; }
        .list_model .listModel_box .model_flip a > img {
          width: 100%; }
    .list_model .listModel_box > h6 {
      font-size: 12px;
      font-weight: normal;
      color: #ccc;
      margin: auto;
      padding-top: 5px;
      text-align: center;
      border-top: 1px solid #c9c9c9; }

.show {
  display: none; }

.hidder {
  display: block; }

.list_modelTO {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 20% 0;
  background: rgba(0, 0, 0, 0);
  animation: bounceInDown 1s; }
  .list_modelTO .listModel_box {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    background: #fff;
    border-radius: 5px;
    padding: 15px 15px 5px; }
    .list_modelTO .listModel_box > h1 {
      font-size: 16px;
      font-weight: 700;
      color: #d38100;
      margin: auto;
      padding-bottom: 10px;
      text-align: center; }
    .list_modelTO .listModel_box > h6 {
      font-size: 12px;
      font-weight: normal;
      color: #ccc;
      margin: auto;
      padding-top: 5px;
      text-align: center; }

.list_modelLiu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 20% 0;
  background: rgba(0, 0, 0, 0);
  animation: bounceInDown 1s; }
  .list_modelLiu .listModel_box {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    background: #fff;
    border-radius: 5px;
    padding: 15px 15px 5px; }
    .list_modelLiu .listModel_box > h1 {
      font-size: 16px;
      font-weight: 700;
      color: #d38100;
      margin: auto;
      padding-bottom: 10px;
      text-align: center; }
    .list_modelLiu .listModel_box .list_modelLiuName > p {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between; }
      .list_modelLiu .listModel_box .list_modelLiuName > p i {
        font-size: 28px;
        color: #d38100; }
      .list_modelLiu .listModel_box .list_modelLiuName > p input {
        width: 100%;
        border-right: #ffffff 0px solid;
        border-top: #ffffff 0px solid;
        font-size: 9pt;
        border-left: #ffffff 0px solid;
        border-bottom: #c0c0c0 1px solid;
        background-color: #ffffff;
        text-indent: 2px;
        text-indent: 2em;
        font-size: 14px; }
    .list_modelLiu .listModel_box > textarea {
      width: 100%;
      height: 150px;
      max-width: 100%;
      margin-bottom: 20px;
      border-radius: 5px;
      font-size: 12px;
      text-indent: 1em; }
    .list_modelLiu .listModel_box > h6 {
      font-size: 12px;
      font-weight: normal;
      color: #ccc;
      margin: auto;
      padding-top: 5px;
      text-align: center; }
    .list_modelLiu .listModel_box .model_tel > button {
      width: 100%;
      background: #efa141;
      color: #fff;
      border: none;
      padding: 10px 0;
      border-radius: 5px;
      font-weight: 600; }

@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px); }
  80% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

/*# sourceMappingURL=style.css.map */
